@import "tailwindcss";

:root {
  --pw-bg-carbon-100: #050608;
  --pw-bg-carbon-200: #0A0C10;
  --pw-bg-carbon-300: #1A1C20;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #050608;
  color: #E0E0E0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'tnum' 1;
}
